/*
 * These are the styles for the accordion
 */
div.myacc_header {
	background: #e9e7e7 url(images/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
div.myacc_header:hover {
	background-color: #e3e2e2;
}
div.myacc_header.active {
	background-position: right 5px;
}
div.myacc_body {
	background: #f7f7f7;
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
	display: none;
}

/* for the audio players
 * I tried the following in order to get the player bigger so that the entire
 * name of the composer + the tune + the poet will fit in but it does not change size
 * (damn flash!). Guess this will have to wait until a real audio player comes along
 * that is implemented in real html + javascript...
 */
/*
p.audioplayer_container {
	text-align: center;
	width: 100%;
}
*/

/* calendar css */

/* override the default value for calendar which demands no floating things left
 * or right of it which is bad for wordpress */ 
.fc-content {
	clear: none;
}
/* white as the color of events instead of my default blue which makes the events
 * invisible */
.fc-event-title {
	color: #FFFFFF;
}
/* This is the loading indicator which is at the corner of the screen */
#loading {
	position: absolute;
	top: 5px;
	right: 5px;
}
