/* this is the style for fields in focus (this is the entire line) */
.focus {
	background:#EB8F00;
}
/* this is the label in front of the field */
.fieldlabel {
	float:left;
	width:10em;
	margin-right:1em;
	text-align:right;
}
/* this is any input component */
.anyinput {
	width:20em;
}
/* this is the reload image */
.inline_image {
	height:1em;
}
/* this is for the small red errors */
.validation_error {
	color:#D73030;
	width:10em;
}
/* errors for the logger */
.error {
	background:#D73030;
}
