/* this is the style for fields in focus (this is the entire line) */
/*.fieldfocus .ui-tabs-nav .ui-helper-reset .ui-helper-clearfix .ui-widget-header .ui-corner-all {} */
/* .fieldfocus .ui-widget-header {}
 */
.fieldfocus {
	background:#EB8F00; 
	background:url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
	border:1px solid #E78F08;
	color:#FFFFFF;
	font-weight:bold;
}
/* this is the label in front of the field */
.fieldlabel {
	float:left;
	width:10em;
	margin-right:1em;
	text-align:right;
}
/* this is any input component */
.fieldinput {
	width:20em;
}
/* this is the reload image */
.fieldimage {
	height:1em;
}
/* this is for the small red errors */
.fieldmsg {
	width:10em;
}
/* general style to be applied to errors */
.errortext {
	color:#D73030;
}
