/*
label {    
	display: block;  
}
*/

fieldset {  
	margin: 1.5em 0 0 0;  
	padding: 0;  
}  
legend {  
	margin-left: 1em;  
	color: #000000;  
	font-weight: bold;  
}  
fieldset ol {  
	padding: 1em 1em 0 1em;  
	list-style: none;
}  
fieldset li {  
	padding-bottom: 1em;  
}  
fieldset.submit {  
	border-style: none;  
}

.focus {
	background: #EB8F00;
}
.error {
	background: #D73030;
}
.inline_image {
	height : 1em;
}

label {    
	float: left;    
	width: 10em;    
	margin-right: 1em;  
	text-align: right;
}
fieldset.fields input {
	width: 20em;
}
fieldset.fields div {
	width: 20em;
}

#log {
	height: 200px;
	width: 100%;
	overflow: auto;
}
